<div class="container">
	<p [ngClass]="{'sfondo-grigio': contatto.isPreferito()}" class="lead" [ngStyle]="{'color':setTextColor()}">{{contatto.getNomeCompleto()}}
    <img *ngIf="contatto.isPreferito();else btnPreferito"  class= "stella" src="https://cdn.icon-icons.com/icons2/1077/PNG/512/star_77949.png">
    <ng-template #btnPreferito>
    <button class="btn btn-primary btn-sm" (click)="contatto.setPreferito()">Preferito</button>
    </ng-template>
  </p>
<div class="row">
        <div class="col-sm-3">Nome:</div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="contatto.nome">
    </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Cognome:</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="contatto.cognome">
    </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Mail:</div>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="contatto.mail">
    </div>
                </div>
    <div class="row">
        <div class="col-sm-3">Cellulare:</div>
                    <div class="col-sm-3">
                        <input type="text" [(ngModel)]="contatto.cell">
    </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Numero Stelle:</div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="contatto.nrStelle">
    </div>
    </div>
</div>